body {
    font-family: 'Georgia', 'Cambria', serif;
    margin: 5px;
    padding: 20px;
    background-color: #ffff;
    color: #3E424B;
    text-align: center;
}

/* Title */
h1 {
    color: #828282;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

/* Subheadings */
h2 {
    color: #838383;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

/* Description */
#description {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #838383;
    font-size: 14px;
    line-height: 1.6; 
}


.matrix-section {
    display:none;
}

/* Dynamic matrix grid */
#matrixInputGrid {
    display: grid;
    justify-content: center;
    gap: 15px;
    margin: 15px auto;
}

#matrixInputGrid input {
    width: 60px;
    height: 30px;
    text-align: center;
    font-family: monospace; 
    font-size: 14px;
}

/* Compute LU button */
button {
    font-size: 10px;
    padding: 8px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #877F7D;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #3E424B
}

/* Display area */
pre {
    background-color: #877F7D;
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    white-space: pre;
}

/* Clear matrix grid */
pre 

/* Layout container */
.container {
    max-width: 700px;
    margin: 0 auto;
}